@model ContactManagerCSharp.Models.Person
<body background="http://3.bp.blogspot.com/_2UbsSBz9ckE/SyQaB5vl4UI/AAAAAAAAAmA/6AjuRmH0SAc/s1600/shark_profile_hd_wallpaper.jpg">
    <h2>Update Contact</h2>
    <form method="post">
        <strong style="font-size: 100%">
            Name:       @Html.TextBoxFor(x => x.Name)
            Address:    @Html.TextBoxFor(x => x.Address)
            Phone # :   @Html.TextBoxFor(x => x.PhoneNumber)
            Pic URL:    @Html.TextBoxFor(x => x.Picture)
            ID #:       @Html.TextBoxFor(x => x.ID)
        </strong>
        <input type="submit" value="Send" />
    </form>
    <a href="/Home"><strong style="font-size: 150%">Back to Home Page</strong></a>
</body>